@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

:root {
  --reseda-green: #5D8064;
  --cambridge-blue: #9AB69B;
  --battleship-gray: #909590;
  --dim-gray: #6E7370;
  --ebony: #4E5652;
}

* {
    padding: 0;
    margin: 0;
}

.center-text {
  margin: 0 auto;
  text-align: center;
}

.overpass {
  font-family: Overpass;
}

.vietnam-pro {
  font-family: Be Vietnam Pro;
}

.comfortaa {
  font-family: Comfortaa;
}

.top-pad-80 {
  padding-top: 80px;
}

#navbar {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  text-align: right;
  padding: 50px 0 0;
  background-color: var(--reseda-green);
}

#navbar a {
  text-decoration: none;
  padding-right: 85px;
}

.section-link {
  display: inline;
  font-size: 22px;
  color: black;
  margin-top: 200px;
}

.section-link:hover {
  color: white;
}

.wrapper {
    position: relative;
}

#home {
  position: relative;
  background-color: var(--reseda-green);
  height: 750px;
}

#profile-pic {
    border-radius: 50%;
    width: 300px;
    height: 450px;
    object-fit: cover;
    margin: 100px 120px 50px 100px;
}

#welcome-section {
  margin: 160px 100px 50px 120px;
}

#welcome-section h2:first-of-type {
  color: white;
}

#welcome-section h1:first-of-type {
  margin-bottom: 1.5rem;
}

#welcome-section p {
  font-size: 18px;
  margin-bottom: 5rem;
  min-width: 445px;
}

#welcome-section form {
  display: inline;
  margin-left: 20px;
}

.ext-link {
  border-radius: 20px;
  width: 40%;
  font-size: 20px;
  padding: 8px 5px;
  background-color: var(--battleship-gray);
  border: solid 2px var(--cambridge-blue);
  font-weight: bold;
}

.ext-link:hover {
  background-color: var(--dim-gray);
  color: white;
}

.section-header {
  font-family: Comfortaa;
  font-size: 40px;
  text-align: center;
  padding: 0 auto;
  margin: 5% auto 3%;
}

.flex-parent {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1120px) {
  .flex-parent {
    flex-direction: column;
    align-items: center;
  }

  #home {
    height: 950px;
  }

  #welcome-section {
    margin: 25px 100px;
  }

  #aboutme-bio {
    margin: 5% 2% 5%
  }
}

#aboutme {
  position: relative;
  display: block;
}

#aboutme-bio {
  position: relative;
  margin: 5% 2% 10%;
  min-width: 500px;
  max-width: 50%;
  font-size: 20px;
  overflow: hidden;
}

#headshot {
  position: relative;
  margin: 3% 5%;
  width: 320px;
  min-width: 320px;
  height: 320px;
  border: solid 10px var(--dim-gray);
  border-radius: 20px;
}

#projects {
  position: relative;
  display: block;
}

.project-tile {
  margin: 5rem 2rem 0 2rem;
}

.project-tile img {
  border: solid 3px black;
}

.project-tile button {
  display: block;
  margin: 1.5rem auto;
  font-size: 16px;
  width: 175px;
}

.project-pic {
  height: 250px;
}

#contact {
  position: relative;
}

.contact-wrapper {
  width: 100%;
  text-align: center;
}

.contact-wrapper div {
  display: inline-block;
  margin: 5rem 5rem 8rem;
  font-size: 20px;
}